.display {
  width: 40vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 10px;
}
